@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
/*NAVIGATION BAR SECTION*/
.navbar{
   background-color: rgb(168, 167, 167);
}

.logo {
    margin-left: 100px;
}

.menu {
    margin-right: 100px;
    font-family: 'Montserrat', sans-serif;
}

/*COVER SECTION*/
.coverMexico {
    background-size: cover;
    margin-left: -165px;
}
.coverMexico h2,
.coverWashington h2 {
    position: absolute;
    margin-top: -340px;
    margin-left: 250px;
    color: #ffffff;
    font-family: 'Roboto-Light', sans-serif;
}
.coverWashington {
    background-size: cover;
    margin-left: 100px;
    width: 10px;
}
.imgwsh{
    width: 737px;
    height: 480px;
}
.cardMexico{
    position: absolute;
    margin-top: -280px;
    margin-left: 185px;
    font-family: 'Montserrat', sans-serif;
}
.cardWashington{
    position: absolute;
    margin-top: -280px;
    margin-left: 220px;
    font-family: 'Montserrat', sans-serif;
}
.card-title,
.card-subtitle{
    text-align: center;
}
.card-text{
    text-align: center;
    color: rgb(255, 123, 0);
}

/*CONTACT SECTION*/
.contact{
    margin-top: 136px;
    background-color: rgb(255, 123, 0);
    font-family: 'Montserrat', sans-serif;
    height: 200px;
}
.contact h2, h5{
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
}

/*FORM SECTION*/
.formContainer{
    font-family: 'Montserrat', sans-serif;
}

.formrow{
    margin-left: 360px !important;
}

.formButton{
    background-color: rgb(255, 123, 0) !important;
    border-color: rgb(255, 123, 0) !important;
    margin-left: 785px !important
}

.formBullet{
    margin-top: 8px;
    width: 20px;
    height: 20px;

}

/*VISIT SECTION*/
.visit{
    font-family: 'Montserrat', sans-serif;
    margin-top: 80px;
}

.visitDropdown{
    background-color: transparent !important;
    color: black !important;
    border-color: black !important;
}

/*PLACES SECTION*/
.noborder{
    border: 0 !important;
}

.placesContainer{
    width: 700px;
    margin-left: 510px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

.placesTitleRight{
    text-align: right !important;
    font-size: 12px !important;
    color: rgb(116, 114, 114) !important;
}

.placesSubtitleRight{
    text-align: right !important;
}

.blueicon{
    width: 15px;
    height: 15px;
    margin-top: -44px;
    margin-left: 40px;
}

.placesTextRight{
    color: gray !important;
    text-align: right !important;
}

.placesTitleLeft{
    text-align: left !important;
    font-size: 12px !important;
    color: rgb(116, 114, 114) !important;
}

.placesSubtitleLeft{
    text-align: left !important;
}

.placesTextLeft{
    color: gray !important;
    text-align: left !important;
}

.blueiconLeft{
    width: 15px;
    height: 15px;
    margin-top: -44px;
    margin-left: 130px;
}